config.yaml
# Binary for the project
main
__debug_*

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Air
tmp/

# Uploads
uploads/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# Scratch/Tests
scratch/

# IDEs
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
